{% extends "wozoapp/base.html" %}

{% block titulo %}Cargar Menú del Día{% endblock %}

{% block contenido %}

    <div class="dia_cargado">
    {% if menues %}
        <h3>{{ dia_semana }} ({{ dia }})</h3>
        <ul>
            {% for menu_dia in menues %}
                <li><b>{{ menu_dia.nombre }}</b> - {{ menu_dia.contenido }}
                <a href="{{ root_url }}eliminar_menu_dia/{{ menu_dia.id }}/?next={{ actual_url }}">Eliminar</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>{{ dia_semana }} ({{ dia }})</h3>
        <ul>
            <li>No se cargó el menú para este día</li>
        </ul>
    {% endif %}
    </div>
    
    <h2>Cargar un nuevo menú del día:</h2>
    
    <br/>
    <form action="{{ root_url }}cargar_menu_dia/{{ dia_ordinal }}/?next={{ actual_url }}" method="POST">
    <table>
    <tr>
        <td>{{ menu_dia_form.nombre.label_tag }}</td>
        <td>{{ menu_dia_form.nombre }}</td>
    </tr>
    <tr>
        <td>{{ menu_dia_form.contenido.label_tag }}</td>
        <td>{{ menu_dia_form.contenido }}</td>
    </tr>
    </table>
    <br/>
    <input type="submit" value="Agregar!" class="boton_form"/>
    </form>

    <br/>
    <a href="{{ root_url }}menues_dias/" class="boton_suelto">Volver</a>

    {% if error %}
        <div class="mensajes"><p>{{ error }}</p></div>
    {% endif %}

{% endblock %}

{% block mas %}
    <h3>Donde estoy?</h3>
    <p>Estás cargando un nuevo Menú del Día.</p>
    <p>Este es el menú que se ofrece de manera especial para cada día.</p>
    <p>Cada día puede contener todos los menues que se quiera, no hay limitación
    para eso.</p>
    <p>Si no esta completa, no hay drama. Total, si lo que se quiere pedir no
    está en el menú del día o en los menues normales, siempre se puede pedir un
    menú especial escribiendo lo que se quiere :-).</p>
{% endblock %}